
*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0;
}

/* ****** 
Layout 
******** */

#container{
    width: 90%;
    max-width:550px;
    margin:0 auto;
    /* background-color: aquamarine; */
}

#color-form{
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

#color-form-input{
    width: 10%;
    min-height: 34px;
    border: 0.5px solid #313131;
    background-color: #F55A5A;
    /* border: none; */
    /* color: #F55A5A; */
}

#color-form-select{
    font-family: inherit;
    font-weight:400;
    font-size: 1rem;
    width: 55%;
    padding: 0.5em 0.8em;
    border: 1px solid #D1D5DB;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    line-height: 1.5rem;
}

#color-form-btn{
    padding: 1em 0.9em;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1rem;
    color: #374151;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}



#main-container{
    /* display: flex; */
    min-height: 450px;
    cursor: pointer;
}

#color-div-container{
    min-height: 350px;
    /* background-color: #F55A5A; */
    display: flex;
}

#color-id-container{
    display: flex;
    /* background-color: aqua; */
    padding: 1em 0;
    text-align: center;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 0.75rem;
    color: #2B283A;
    line-height: 1.5rem;
}

.color-div,
.color-id{
    /* height: 90%; */
    width: 100%;
    /* background-color: red; */
}



